**
!dist/extension.js
!dist/agent.js
!dist/webview.js
!dist/webview.css
!dist/codicon.ttf
!core/sing-box*
!core/LICENSE
!media/**
!syntaxes/**
!README.md
!CHANGELOG.md
!package.nls*.json
!l10n/**
!LICENSE
!package.json
